<?xml version="1.0" encoding="UTF-8"?>

<web-app>
	<display-name>scheduled-xots-demo Servlet</display-name>
	<servlet>
		<servlet-name>scheduled-xots-demoApp</servlet-name>
		<servlet-class>com.paulwithers.scheduledXots.ODADataServlet
		</servlet-class>
		<init-param>
			<param-name>javax.ws.rs.Application</param-name>
			<param-value>com.paulwithers.scheduledXots.ScheduledXotsDemoApplication
			</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>scheduled-xots-demoApp</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
</web-app>